
<style type="text/css">


.form {
  max-width: 200px;
}

@keyframes marquee {
 0%   { text-indent: -100% }
 100% { text-indent: 100% }
}

.marquee {
 width: 500px;
 margin: auto;
 padding: 2px;
 overflow: hidden;
 white-space: nowrap;
 border: solid 0px #CCCCCC;
 animation: marquee 10s linear infinite;
}

.marquee:hover {
 animation-play-state: paused;
}

</style>

<TMPL_IF FORM>
<!-- form 'FORM' START -->


<form method="post" data-ajax="false" accept-charset="utf-8" name="main_form" id="main_form" onsubmit="return validateTTSForm(event, window.state)" action="./index.cgi?form">
	<input type="hidden" name="saveformdata" value="1">
	<input type="hidden" name="regionOptions" id="regionOptions" value="<TMPL_VAR TTS.regionms>">
	<input type="hidden" name="myFile" id="myFile" value="<TMPL_VAR MYFILE>">
	<!--<link rel="stylesheet" href="/plugins/<TMPL_VAR PLUGINDIR>/radio.css"/>
	<!--<link rel="stylesheet" href="/plugins/<TMPL_VAR PLUGINDIR>/web/table.css"/>-->
	<TMPL_IF NAME="INTERFACE">
		<TMPL_LOOP NAME="PLUGINS">
			<img class="ic_icons"
				src="/plugins/<TMPL_VAR PLUGINDIR>/images/<TMPL_VAR NAME=name>.png"
				border="0"
				width="32>"
				height="30>"
				align="absmiddle"
				title="<TMPL_VAR NAME>">
			&nbsp;
		</TMPL_LOOP>
	</TMPL_IF>
		<div class="form-group">
		<TMPL_IF NAME="INTERFACE">
		<div class="gate" style="display:flex;align-items:center;justify-content:center;">
			&nbsp;<span id="handlerstate"></span>&nbsp;<!--| 
			&nbsp;<span id="watchdogstate"></span>&nbsp; &nbsp;
			<!--&nbsp;<font COLOR="blue"><TMPL_VAR SAVE></font>-->
		</div>
		</TMPL_IF>
<table class="formtable" border="0" width="100%" cellpadding="10">
	<tr>
		<td valign="middle" style="height: 33px; width: 25%; text-align: center;">
			<h2 class="auto-style3" style="width: 100%"></h2>
			<td style="height: 33px; text-align: center;">
			<img id="picture" class='ico_sonos' src='/plugins/<TMPL_VAR PLUGINDIR>/images/t2s.png' border='0' width='186' height='125' align="absmiddle">
		</td>
	</tr>

	<tr>
		
		<td style="width: 25%; height: 45px;">
			<label id="ltts_instanz"><TMPL_VAR T2S.TTS_INSTANZ></label>
		</td>
		<td style="width: 50%; height: 45px;">
			<fieldset id="engine-selector" data-role="controlgroup" data-type="horizontal" data-mini="true">
				<input type="radio" name="t2s_engine" id="tts_voicerss" value="1001">
	 			<label for="tts_voicerss">🔊 VoiceRSS</label>
				<input type="radio" name="t2s_engine" id="tts_elevenlabs" value="3001">
				<label for="tts_elevenlabs">🧠 ElevenLabs</label>
				<input type="radio" name="t2s_engine" id="tts_polly" value="4001">
				<label for="tts_polly">☁️ AWS Polly</label>
				<input type="radio" name="t2s_engine" id="tts_piper" value="5001">
				<label for="tts_piper">🎙️ Piper</label>
				<input type="radio" name="t2s_engine" id="tts_respvoice" value="6001">
				<label for="tts_respvoice">🔈 RespVoice</label>
				<input type="radio" name="t2s_engine" id="tts_google_cloud" value="7001">
				<label for="tts_google_cloud">🌐 Google Cloud</label>
				<input type="radio" name="t2s_engine" id="tts_azure" value="9001">
				<label for="tts_azure">💎 Azure AI</label>
			</fieldset>
			<input name="val_t2s" id="val_t2s" class="textfield" value="<TMPL_VAR T2S_ENGINE>" type="hidden" style="width: 96px">
			<div class="ttsconfig googleinfo 7001">
				<font size="-1">
					<a id="linkgoogle"<TMPL_VAR T2S.LINK_GOOGLE> target="_blank"> <TMPL_VAR T2S.GOOGLE_INFO>
					</a>
				</font>
			</div>
			<div class="ttsconfig azureinfo 9001">
                <font size="-1" align="middle">
                    <a id="linkazureapi" href="/plugins/<TMPL_VAR PLUGINDIR>/voice_engines/bin/Azure_Account.pdf" target="_blank">
                        <TMPL_VAR T2S.AZURE_API_LINK>
                    </a>
                </font>
            </div>
			<div class="ttsconfig elevenlabsinfo 3001">
                <font size="-1" align="middle">
                    <a id="linkazureapi" href="https://elevenlabs.io/" target="_blank">
                        <TMPL_VAR T2S.ELEVENLABS_API_LINK>
                    </a>
                </font>
            </div>
			<div class="ttsconfig elevenlabsinfo 1001">
                <font size="-1" align="middle">
                    <a id="linkazureapi" <TMPL_VAR T2S.LINK_VOICERSS> target="_blank">
                        <TMPL_VAR T2S.LABEL_API_KEY_VOICESS>
                    </a>
                </font>
            </div>
			<div class="ttsconfig elevenlabsinfo 4001">
                <font size="-1" align="middle">
                    <a id="linkazureapi" <TMPL_VAR T2S.LINK_POLLY> target="_blank">
                        <TMPL_VAR T2S.LABEL_API_KEY_POLLY>
                    </a>
                </font>
            </div>

			</td>
						
			<td valign="middle" style="height: 45px; width: 201px;" class="ttsconfig 1001 4001 keylinks">
			<td style="height: 13px; width: 24px;"></td>
	</tr>
	
	

	
	<tr class="ttsconfig colapi 1001 4001 7001 3001 9001">
        <td style="height: 48px; width: 25%">
            <label id="lapikey"><TMPL_VAR T2S.LABEL_API_KEY></label>
        </td>
        <td style="width: 50%; height: 48px">
            <input id="apikey" name="apikey" type="text" class="textfield" value="<TMPL_VAR APIKEY>">
		</td>
        <td style="height: 48px; width: 100px;" class="auto-style4" valign="top">
            <div class="ttsconfig btnpopulatevoices 3001 7001 9001">
                <a onClick="ButtonLoadVoices()" data-role="button" data-inline="true" data-mini="true" href="#">
                    <TMPL_VAR T2S.BUTTON_VOICES>
                </a>
            </div>
		</td>
    </tr>
		
	
	<tr class="ttsconfig colsec 4001">
		<td style="width: 25%; height: 48px;">
			<label id="lseckey"><TMPL_VAR T2S.LABEL_SECRET_KEY></label>
		</td>
		<td style="width: 50%; height: 48px;">
			<input id="seckey" name="seckey" type="text" class="textfield" value="<TMPL_VAR SECKEY>">
		<td style="width: 201px; height: 48px;">
		</td>
		<td style="width: 24px; height: 48px;"></td>

	<tr class="infotext">
        <td class="infotext" style="width: 201px; height: 20px;" valign="top">
        </td>
            <td class="infotext" id="info" name="info" style="width: 201px; height: 20px;" valign="top">
                <font color=#FF0000>
                    <marquee>
                        <TMPL_VAR INFO>
                    </marquee>
                </font>
            </td>
    </tr>
	


		
	</tr>
	<tr class="ttsconfig ttsbaseconfig collang">
		<td style="height: 60px; width: 25%;">
			<label id="llang"><TMPL_VAR T2S.TTS_LANGUAGE></label>
		</td>
		<td width="50%" style="height: 60px">
			<table border=0 width="100%">
				<tr>
					<div data-role="collapsible">
						<td style="height: 36px; width: 294px; text-align: left;">
							<fieldset style="width: 286px">
								<select onclick="FilterVoice()" id="t2slang" name="t2slang" data-mini="true" style="align:left; width: 258px;">
								</select>
							</fieldset>
						</td>
					<div id="loginResult" style="display:none;">
					</div>
					<div id="msg"></div>
						<td style="height: 36px; width: 294px;" class="ttsconfig field-voice 1001 3001 4001 5001 7001 9001" style="display:none">
							<fieldset style="width: 287px">
								<select class="voice_select" id="voice" name="voice" data-mini="true" style="align:left; width: 100%">
								</select>
								<!--<div class="ttsconfig field-voice 3001">
									<td class="ttsconfig field-voice 3001" style="height: 36px; width: 8%; text-align: left;">
										<img onclick="PlayVoice()" src='/plugins/<TMPL_VAR PLUGINDIR>/images/play-button.png'>
									</td>
								</div>-->
							</fieldset>
						<td style="height: 36px; width: 294px; text-align: right;">
								<fieldset style="width: 48px">
								<input name="langiso" id ="langiso" style="width: 46px" readonly="true" type="hidden" align="middle" data-mini="true">
							</fieldset>
						</td>
					</div>
				</tr>
			</table>
		</td>
			<td style="height: 30px; width: 201px;">
			</td>
	</tr>
	
	<tr class="ttsconfig ttsbaseconfig">
		<td style="height: 60px; width: 15%;">
			<label id="tt"><TMPL_VAR T2S.LABEL_TEST_PLAYER></label>
		</td>
		<td style="width: 50%; height: 48px">
			<textarea placeholder="<TMPL_VAR T2S.TEST_PLAYER_PH>" maxlength="500" id="testtext" name="testtext" rows="7" cols="10" style="overflow-y: scroll;"></textarea>
		</td>
		<div class="ttsconfig ttsbaseconfig">
			<td class="ttsconfig field-voice 1001 3001 4001 5001 6001 7001 9001" style="height: 36px; width: 8%; text-align: left;">
				<img id="testbox_submit" src='/plugins/<TMPL_VAR PLUGINDIR>/images/play-button.png'>
			</td>
		</div>
	</tr>
	
	<tr class="ttsconfig ttsbaseconfig colmp3">
			<td style="width: 25%">
				<label id="lmp3store"><TMPL_VAR T2S.LABEL_MP3_FILES></label>
			</td>
			<td style="width: 50%">
				<table border=0 width="100%">
			<tr>
				<td width="19%">
					<select id="mp3store" name="mp3store" data-mini="true" data-native-menu="false" width="50%">
						<option value="1"><TMPL_VAR T2S.1DAY_MP3_STORE></option>
						<option value="7"><TMPL_VAR T2S.7DAY_MP3_STORE></option>
						<option value="30"><TMPL_VAR T2S.30DAY_MP3_STORE></option>
						<option value="365"><TMPL_VAR T2S.365DAY_MP3_STORE></option>
						<option value="0"><TMPL_VAR T2S.ENDLESS_MP3_STORE></option>
					</select>
					<script>
						$('#mp3store option[value="<TMPL_VAR MP3.MP3store>"').prop('selected', 'selected');
					</script>
				</td>
			<td>
				<table border=0 width="100%">
					<tr>
						<td style="height: 30px; text-align: center; width: 34%;">
							<label id="lfile_gong"><TMPL_VAR T2S.LABEL_MP3_FILE></label>
						</td>
						<td style="height: 30px">
							<select id='file_gong' name='file_gong' data-mini='true' 
								data-validation-error-msg="<TMPL_VAR T2S.SELECT_JINGLE_DROPDOWN>" 
								data-validation-rule="^([A-Za-z0-9]){4,10}$">
								<option selected='true' value='' disabled><TMPL_VAR T2S.SELECT_JINGLE_DROPDOWN></option>
								<TMPL_VAR MP3_LIST>
							</select>
							<script>
							$('#file_gong').val('<TMPL_VAR MP3.file_gong>');
							</script>
						</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td colspan=2 align="right">
				<font size="-1"><TMPL_VAR T2S.JINGLE_SOURCE> <TMPL_VAR DATADIR>/mp3/</font>
			</td>
		</tr>
	</table>
		<td valign="middle" style="height: 60px; width: 201px;">
		&nbsp;
		</td>
		<td style="height: 60px; width: 24px;">
		</td>
	</tr>
	<tr class="ttsconfig ttsbaseconfig colcachesize">
	<td style="height: 60px; width: 25%;">
			<label id="lcachesize"><TMPL_VAR T2S.LABEL_CACHESIZE></label>
		</td>
		<td width="50%" style="height: 60px">
			<input type="range" name="cachesize" id="cachesize" value="<TMPL_VAR MP3.cachesize>" min="100" max="5000" step="100">
		</td>
		<td style="height: 30px; width: 201px;">
		</td>
		<td style="height: 30px; width: 201px;">
		</td>
	</tr>
	<tr>
	<td style="height: 60px; width: 25%;">
			<label id="llang"><TMPL_VAR T2S.CARD></label>
		</td>
		<td width="50%" style="height: 60px">
			<table border=0 width="100%">
				<div data-role="collapsible">
					<tr>
						<td style="height: 36px; width: 294px; text-align: left;">
							<select onclick="SoundDevices()" id='out_list' name='out_list' data-mini='true' 
								data-validation-error-msg="<TMPL_VAR T2S.SELECT_OUTPUT_DROPDOWN>" 
								data-validation-rule="^([A-Za-z0-9]){4,10}$">
								<option selected='true' value='' disabled><TMPL_VAR T2S.SELECT_OUTPUT_DROPDOWN></option>
								<TMPL_VAR OUT_LIST>
							</select>
							<script>
								$('#out_list').val('<TMPL_VAR SYSTEM.card>');
							</script>
						</td>
						<div id="loginResult" style="display:none;"></div>
						<div id="msg"></div>
					</tr>
				</div>
			
			</table>
		</td>
		<td style="height: 30px; width: 201px;">
			</td>
		<td style="height: 30px; width: 201px;">
		</td>
	</tr>
	<tr>
	<td class="foundusb" style="height: 30px; width: 201px;">
		<label id="lusb"><TMPL_VAR T2S.SOUNDCARDS></label>
	</td>
	<td class="foundusb" style="height: 30px; width: 201px;">
		<div id="workdir" class="foundusb" style="text-align:left; display:inline-block; margin-bottom:5px; width:99%; padding:10px; border: 1px solid black; border-radius: 5px; background-color: rgba(228,228,228,.1);">
		<font size="-1">
		<TMPL_VAR SC_LIST>
		</font>
		</div>
	</td>
	<td class="foundusb" style="height: 30px; width: 201px;">
	</td>
	<td class="foundusb" style="height: 30px; width: 201px;">
	</td>
	</tr>
	<tr>
	<td class="collapse_usb" style="height: 60px; width: 25%;">
			<label id="lusb"><TMPL_VAR T2S.USB></label>
		</td>
		<td class="collapse_usb" width="50%" style="height: 60px">
			<table border=0 width="100%">
			<div data-role="collapsible">
				<tr>
						<td class="collapse_usb" style="height: 36px; width: 204px; text-align: left;">
							<select id='usb_list' name='usb_list' data-mini='true' 
								data-validation-error-msg="<TMPL_VAR T2S.SELECT_USB_DROPDOWN>" 
								data-validation-rule="^([A-Za-z0-9]){4,10}$">
								<option selected='true' disabled><TMPL_VAR T2S.SELECT_USB_DROPDOWN></option>
								<TMPL_VAR USB_LIST>
							</select>
							<script>
								$('#usb_list').val('<TMPL_VAR SYSTEM.usbcard>');
							</script>
							
							<td class="collapse_usb" style="height: 30px; width: 30px;">
								<label id="lusb"><TMPL_VAR T2S.USB_CARDNO></label>
							</td>	
							<td class="collapse_usb" width="19%">
								<select id="usbcardno" name="usbcardno" data-mini="true" data-native-menu="false" width="20%">
									<!--<option value="0">0</option>-->
									<option selected="selected" value="1">1</option>
									<option value="2">2</option>
								</select>
								<script>
									$('#usbcardno option[value="<TMPL_VAR SYSTEM.usbcardno>"').prop('selected', 'selected');
								</script>
							</td>
							
							<td class="collapse_usb" style="height: 30px; width: 30px;">
								<label id="lusb"><TMPL_VAR T2S.USB_DEVICE></label>
							</td>	
							<td class="collapse_usb" width="19%">
								<select id="usbdeviceno" name="usbdeviceno" data-mini="true" data-native-menu="false" width="20%">
									<option value="0">0</option>
									<option value="1">1</option>
									<option value="2">2</option>
									<option value="3">3</option>
									<option value="4">4</option>
								</select>
								<script>
									$('#usbdeviceno option[value="<TMPL_VAR SYSTEM.usbdevice>"').prop('selected', 'selected');
								</script>
							</td>	
						</td>
					<div id="loginResult" style="display:none;"></div>
					<div id="msg"></div>
				</tr>
				</div>
			</table>
		</td>
		<td class="collapse_usb" style="height: 30px; width: 201px;">
			</td>
		<td class="collapse_usb" style="height: 30px; width: 201px;">
		</td>
	</tr>
	
	
	<tr class="ttsconfig ttsbaseconfig colmp3path">
		<td style="height: 60px; width: 25%;">
			<label id="lcard"><TMPL_VAR T2S.LABEL_SOUNDCARD></label>
		</td>
		<td style="height: 60px; width: 25%;">
			<TMPL_VAR STORAGEPATH>
        </td>
        	<td style="height: 60px; width: 201px;">
		</td>
			<td style="height: 60px; width: 201px;">
		</td>
	</tr>
	
	<tr>
			<td style="height: 30px; width: 201px;">
			<label id="lvolume"><TMPL_VAR T2S.LABEL_TTS_VOLUME></label>
		</td>
		<td>
		<!--
		<fieldset style="width: 15%">
			<input id="volume" name="volume" type="text" class="textfield" value="<TMPL_VAR TTS.volume>"
				data-validation-error-msg="<TMPL_VAR ERRORS.ERR_VOLUME>" 
				data-validation-rule="special:number-min-max-value:0:100">
			</fieldset>
		-->
		<table border=0 width="100%">
		<tr>
		<td width="95%"> 
		<input type="range" name="volume" id="volume" value="<TMPL_VAR TTS.volume>" min="0" max="500" step="10"
			data-validation-error-msg="<TMPL_VAR ERRORS.ERR_VOLUME>"
			data-validation-rule="special:number-min-max-value:0:500">
		</td>
		<td width="5%">
		%
		</td>
		</tr>
		</table>
		</td>
			<td style="height: 30px; width: 20%;">
		</td>
			<td style="height: 30px; width: 20%	;">
		</td>
	</tr>
			
	<tr>
		<td colspan=3 valign="middle" style="height: 33px">
			<hr style="border:solid #bebebe 3px;height:2px; width: 100%;">
		</td>
	</tr>
		
	<!-- Options-->
	<tr>
		<td colspan=3 style="height: 30px; ">
			<h3><TMPL_VAR TEMPLATE.MAIN_LABEL_OPTIONS></h3>
		</td>
	</tr>
	<td style="height: 30px; width: 10%;">
		<TMPL_VAR TEMPLATE.LABEL_OPTIONS>
	</td>
	<td colspan=3 valign="middle">
		<div style="width:36%;">
			<!--<div style="display:table; padding:10px; border: 1px solid black; border-radius: 5px; background-color: #6dac20;">-->
				<fieldset data-role="controlgroup" class="fieldset-green" data-type="horizontal">
					<input name="Checkbox3" type="checkbox" onclick="WeatherLayout()" id="weather_det" data-icon="check">								
					<label for="weather_det"><TMPL_VAR WEATHER.LAYOUT_CHECKBOX></label>
					<input name="Checkbox4" type="checkbox" onclick="DestinationLayout()" id="dest_det" data-icon="check">								
					<label for="dest_det"><TMPL_VAR DESTINATION.LAYOUT_CHECKBOX></label>
					<input name="Checkbox5" type="checkbox" onclick="CalendarLayout()" id="cal_det" data-icon="check">								
					<label for="cal_det"><TMPL_VAR CALENDAR.LAYOUT_CHECKBOX></label>
				</fieldset>
			<!--</div>-->
		</div>
	</td>
	
	
	<!-- Start Destination -->
	
		<tr class="destdet">
		<td colspan=3 valign="middle" style="height: 33px">
			<h3><TMPL_VAR DESTINATION.HEADER></h3>
		</td>
	</tr>
	<tr class="destdet">
		<td colspan=3 valign="middle" style="height: 37px">
			<font size="-1"><TMPL_VAR DESTINATION.NOTE><a href="<TMPL_VAR DESTINATION.LINK_GOOGLE>"<TMPL_VAR DESTINATION.LABEL_LINK_GOOGLE></a></font>
		</td>
	</tr>
		
		<tr class="destdet">
			<td style="height: 48px; width: 25%">
				<label id="lapikey"><TMPL_VAR DESTINATION.LABEL_GOOGLE_API></label>
			</td>
			<td style="width: 50%; height: 48px">
				<input id="googlekey" name="googlekey" type="text" class="textfield" value="<TMPL_VAR LOCATION.googlekey>">
			</td>
			<td style="height: 48px; width: 201px;" class="auto-style4">
				<font size="-1"><a id="linkgoogle" href="<TMPL_VAR DESTINATION.LINK_GOOGLE_DISTANCE>" target="_blank"><TMPL_VAR DESTINATION.LABEL_GOOGLE_DISTANCE></a></font>
			</td>
		</tr>
		
		
		<td class="destdet" style="width: 25%"><TMPL_VAR DESTINATION.LABEL_GOOGLE_REGION>
			<label style="font-size: x-small;" id="lexample"><TMPL_VAR DESTINATION.LABEL_GOOGLE_EXAMPLE></label>
		</td>	
			<td style="width: 10%">
				<table border=0 width="100%">
			<tr class="destdet">
				<td style="width: 41%">
					<input id="googletown" name="googletown" type="text" class="textfield" value="<TMPL_VAR LOCATION.googletown>" style="width: 215px">
				</td>
			<td>
				<table border=0 width="100%">
					<tr class="destdet">
						<td style="height: 30px; width: 24%; text-align: center;">
							<TMPL_VAR DESTINATION.LABEL_ADDRESS></td>
						<td style="height: 30px">
							<input id="googlestreet" name="googlestreet" type="text" class="textfield" value="<TMPL_VAR LOCATION.googlestreet>" style="width: 231px">
						</td>
						
					</tr>
				</table>
			</tr>
			<tr class="destdet">
				<td colspan=3 valign="middle" style="height: 33px">
					<h3></h3>
				</td>
			</tr>
	</table>
	
	<!-- End Destination-->

		
	<!-- Start Kalender-->
		
	<tr class="caldet">
		<td colspan=3 valign="middle" style="height: 33px">
			<hr/>
			<h3><a <TMPL_VAR CALENDAR.HEADER_LINK> target="_blank"><TMPL_VAR CALENDAR.HEADER></a></h3>
		</td>
	</tr>
	<tr class="caldet">
		<td style="height: 48px; width: 25%">
			<label id="lwastecal"><TMPL_VAR CALENDAR.WASTE_LABEL></label>
		</td>
		<td style="width: 50%; height: 48px">
			<input id="wastecal" name="wastecal" type="text" class="textfield" value="<TMPL_VAR VARIOUS.CALDavMuell>">
		</td>
		<td style="height: 48px; width: 201px;" class="auto-style4">
			<input name="lblang" id="lblang" class="textfield" value="<TMPL_VAR LBLANG>" type="hidden" style="width: 96px">
		</td>	
		<tr class="caldet">
		<td style="height: 48px; width: 25%">
			<label id="lcal"><TMPL_VAR CALENDAR.CALENDAR_LABEL></label>
		</td>
		<td style="width: 50%; height: 48px">
			<input id="cal" name="cal" type="text" class="textfield" value="<TMPL_VAR VARIOUS.CALDav2>">
		</td>
		<td style="height: 48px; width: 201px;" class="auto-style4">
			<input name="val_voice" id="val_voice" type="hidden" class="textfield" value="<TMPL_VAR VOICE>" style="width: 93px">
			<input name="val_code" id="val_code" type="hidden" class="textfield" value="<TMPL_VAR CODE>" style="width: 93px">
		</td>
		<tr class="caldet">
			<td colspan=3 valign="middle" style="height: 33px">
				<h3></h3>
		</td>
		</tr>
	
	<!-- Ende Kalender-->
		
	<!-- Start Weather-->	
		<tr class="weatherdet">
			<td colspan=3 valign="middle" style="height: 33px">
				<hr/>
				<h3><TMPL_VAR WEATHER.HEADER_WEATHER></h3>
			</td>
		</tr>
		<tr class="weatherdet">
			<td colspan=3 style="height: 23px; width: 70%">
				<font size="-1"><TMPL_VAR WEATHER.NOTE_WEATHER></font>
			</td>
		</tr>
		<tr class="weatherdet">
		<td style="height: 56px"><TMPL_VAR WEATHER.REGION>
		</td>
		<td style="width: 50%; height: 56px;">
			<table border=0 width="100%">
				<tr class="weatherdet">
					<td width="20%" style="height: 30px">
						<select id="region" name="region" data-mini="true" style="width: 102px" >
							<option value="baw" <TMPL_VAR REGION1>><TMPL_VAR WEATHER.REGION1></option>
							<option value="bay" <TMPL_VAR REGION2>><TMPL_VAR WEATHER.REGION2></option>
							<option value="bbb" <TMPL_VAR REGION3>><TMPL_VAR WEATHER.REGION3></option>
							<option value="hes" <TMPL_VAR REGION4>><TMPL_VAR WEATHER.REGION4></option>
							<option value="mvp" <TMPL_VAR REGION5>><TMPL_VAR WEATHER.REGION5></option>
							<option value="nib" <TMPL_VAR REGION6>><TMPL_VAR WEATHER.REGION6></option>
							<option value="nrw" <TMPL_VAR REGION7>><TMPL_VAR WEATHER.REGION7></option>
							<option value="rps" <TMPL_VAR REGION8>><TMPL_VAR WEATHER.REGION8></option>
							<option value="sac" <TMPL_VAR REGION9>><TMPL_VAR WEATHER.REGION9></option>
							<option value="saa" <TMPL_VAR REGION10>><TMPL_VAR WEATHER.REGION10></option>
							<option value="shh" <TMPL_VAR REGION11>><TMPL_VAR WEATHER.REGION11></option>
							<option value="thu" <TMPL_VAR REGION12>><TMPL_VAR WEATHER.REGION12></option>
						</select>
						<script>$('#region').val('<TMPL_VAR LOCATION.region>');</script>
					</td>
				<td style="height: 30px">		
			<td width="50%" style="height: 30px; text-align: center;"><TMPL_VAR WEATHER.TOWN></td>
			<td style="height: 30px"><input id="town" name="town" type="text" class="textfield" value="<TMPL_VAR LOCATION.town>"></td>
		</tr>
	</table>
	<td valign="middle" style="height: 60px; width: 201px; font-size: smaller;">
		<a id="linkdwd" href="<TMPL_VAR WEATHER.LINK_WEATHER_SERVICE>" target="_blank"><TMPL_VAR WEATHER.LABEL_WEATHER_SERVICE></a><br>
		<a id="linkpollen" href="<TMPL_VAR WEATHER.LINK_ALLERGEN>" target="_blank"><TMPL_VAR WEATHER.LABEL_ALLERGEN></a>
	</td>
	<tr class="weatherdet">
		<td colspan=3 valign="middle" style="height: 33px">
			<h3></h3>
		</td>
	</tr>
</td>
<!-- Ende Weather-->	
		
		
<!-- Ende-->	
	
	
		</table>
	
			<td></td>
			<td colspan=3>
				<div id="form-error-message" class="form-error-message"></div>
			</td>
	
		<p><p>
			<center>
				<a id="btncancel" data-role="button" data-inline="true" data-mini="true" data-icon="delete" href="/admin/index.cgi"><TMPL_VAR SAVE.CANCEL_BUTTON></a>
				<button type="submit" form="main_form" id="btnsubmit" data-role="button" data-inline="true" data-mini="true" data-icon="check"><TMPL_VAR SAVE.SAVE_BUTTON></button>
			</center>
		</p>

<!-- Speech SDK reference sdk. -->
<script src="/plugins/<TMPL_VAR PLUGINDIR>/voice_engines/bin/Microsoft/microsoft.cognitiveservices.speech.sdk.bundle.js"></script>

<!-- Include MD5 library -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-md5/2.19.0/js/md5.min.js"></script>
</TMPL_IF FORM>



<TMPL_IF LOGFILES>
<!-- form 'LOGFILES' START -->
	<TMPL_VAR LOGLIST_HTML>
<!-- form 'LOGFILES' END -->
</TMPL_IF LOGFILES>


<TMPL_IF SAVE>
<!-- form 'FORM' SUCCESS -->
	<center>
		<table width="100%" border=0>
			<tr>
				<td align="center">
					<h2><TMPL_VAR SAVE.SAVE_ALL_OK></h2>
					<p>
						<TMPL_VAR SAVE.SAVE_MESSAGE>
						<br>
						<br>
					</p>
				</td>
			</tr>
			<tr>
				<td align="center">
					<p>
						<a id="btnok" data-role="button" data-inline="true" data-mini="true" data-icon="check" onclick="location.href='<TMPL_VAR SAVE_NEXTURL>'"><TMPL_VAR SAVE.SAVE_BUTTON_OK></a>
					</p>
				</td>
			</tr>
		</table>
	</center>
</TMPL_IF SAVE>


<TMPL_IF ERROR>
<!-- form 'FORM' ERROR -->
	<center>
		<table border=0>
			<tr>
				<td align="center">
					<h2><FONT COLOR="#FF0000"><TMPL_VAR ERRORS.ERR_TITLE></FONT></h2>
					<p>
						<TMPL_VAR ERRORS.ERR_MESSAGE>
						<br />
						<br />
					</p>
				</td>
			</tr>
			<tr>
				<td align="center">
					<p>
						<a id="btnback" onclick="location.href='/admin/system/index.cgi'" class="ui-btn ui-btn-inline ui-mini ui-corner-all ui-btn-icon-left ui-icon-delete"><TMPL_VAR ERRORS.ERR_BUTTON_BACK></a>
					</p>
				</td>
			</tr>
		</table>
	</center>
</TMPL_IF ERROR>
