<style type="text/css">


.form {
  max-width: 200px;
}

@keyframes marquee {
 0%   { text-indent: -100% }
 100% { text-indent: 100% }
}

.marquee {
 width: 500px;
 margin: auto;
 padding: 2px;
 overflow: hidden;
 white-space: nowrap;
 border: solid 0px #CCCCCC;
 animation: marquee 10s linear infinite;
}

.marquee:hover {
 animation-play-state: paused;
}

</style>

<TMPL_IF FORM>
<!-- form 'FORM' START -->


<form method="post" data-ajax="false" accept-charset="utf-8" name="main_form" id="main_form" action="<TMPL_VAR SELFURL>">
	<input type="hidden" name="saveformdata" value="1">
	<input type="hidden" name="regionOptions" id="regionOptions" value="<TMPL_VAR TTS.regionms>">
	<input type="hidden" name="myFile" id="myFile" value="<TMPL_VAR MYFILE>">
		<div class="form-group">

<table class="formtable" border="0" width="100%" cellpadding="10">
	<tr>
		<td valign="middle" style="height: 33px; width: 25%; text-align: center;">
			<h2 class="auto-style3" style="width: 100%"></h2>
			<td style="height: 33px; text-align: center;">
			<img class='ico_sonos' src='/plugins/<TMPL_VAR PLUGINDIR>/images/t2s.png' border='0' width='186' height='125' align="absmiddle">
		</td>

		

	</tr>
	
	
	
	<tr>
		<td style="width: 25%; height: 45px;">
			<label id="ltts_instanz"><TMPL_VAR T2S.TTS_INSTANZ></label>
		</td>
		<td style="width: 50%; height: 45px;">
			<fieldset id="engine-selector" data-role="controlgroup" data-type="horizontal" data-mini="true">
				<input onclick="disable()" type="radio" name="t2s_engine" id="tts_voicerss" value="1001"><TMPL_VAR SELECTEDINSTANZ2>
	 			<label for="tts_voicerss">VoiceRSS</label>
				<input onclick="disable()" type="radio" name="t2s_engine" id="tts_mac_osx" value="3001"><TMPL_VAR SELECTEDINSTANZ3>
				<label for="tts_mac_osx">OSX</label>
				<input onclick="disable()" type="radio" name="t2s_engine" id="tts_polly" value="4001"><TMPL_VAR SELECTEDINSTANZ4>
				<label for="tts_polly">AWS Polly</label>
				<input onclick="disable()" type="radio" name="t2s_engine" id="tts_pico" value="5001"><TMPL_VAR SELECTEDINSTANZ5>
				<label for="tts_pico">Pico2Wave</label>
				<input onclick="disable()" type="radio" name="t2s_engine" id="tts_respvoice" value="6001"><TMPL_VAR SELECTEDINSTANZ6>
				<label for="tts_respvoice">RespVoice</label>
				<input onclick="populateGoogleCloudVoices()" type="radio" name="t2s_engine" id="tts_google_cloud" value="7001"><TMPL_VAR SELECTEDINSTANZ7>
				<label for="tts_google_cloud">Google Cloud</label>
				<input onclick="populateLanguageAndVoiceFields()" type="radio" name="t2s_engine" id="tts_azure" value="9001"><TMPL_VAR SELECTEDINSTANZ8>
				<label for="tts_azure">MS Azure</label>
			</fieldset>
			<script>$("input[name=t2s_engine]").val(['<TMPL_VAR TTS.t2s_engine>']);</script>
			<div class="googleinfo">
				<font size="-1"><a id="linkgoogle"<TMPL_VAR T2S.LINK_GOOGLE> target="_blank"> <TMPL_VAR T2S.GOOGLE_INFO></a></font>
			</div>
			<div class="azureinfo">
                <font size="-1" align="middle">
                    <a id="linkazureapi" href="/plugins/<TMPL_VAR PLUGINDIR>/voice_engines/bin/Azure_Account.pdf" target="_blank">
                        <TMPL_VAR T2S.AZURE_API_LINK>
                    </a>
                </font>
            </div>

			</td>
		<td valign="middle" style="height: 45px; width: 201px;" class="keylinks">
		<font size="-1"><a id="linkvoicerss"<TMPL_VAR T2S.LINK_VOICERSS> target="_blank"> <TMPL_VAR T2S.LABEL_API_KEY_VOICESS></a></font>
		<br><br>
		<font size="-1"><a id="linkpolly"<TMPL_VAR T2S.LINK_POLLY> target="_blank"> <TMPL_VAR T2S.LABEL_API_KEY_POLLY></a></font>
		<font size="-1"><span><TMPL_VAR T2S.LABEL_POLLY_PRICING></span></font></td>
		<td style="height: 13px; width: 24px;"></td>
	</tr>
		
	<tr class="colapi">
		<td style="height: 48px; width: 25%">
			<label id="lapikey"><TMPL_VAR T2S.LABEL_API_KEY></label>
		</td>
		<td style="width: 50%; height: 48px">
			<input id="apikey" name="apikey" type="text" class="textfield" value="<TMPL_VAR TTS.api-key>"
			data-validation-error-msg="<TMPL_VAR ERRORS.ERR_APIKEY>" 
			data-validation-rule="^(([A-Za-z0-9\!\#\$\%\&\'\*\+\-\,\/\:\;\=\?\@\[\]\\\]]){20}|([A-Za-z0-9\!\#\$\%\&\'\*\+\-\,\/\:\;\=\?\@\[\]\\\]]){39}|([A-Za-z0-9\!\#\$\%\&\'\*\+\-\,\/\:\;\=\?\@\[\]\\\]]){32})$">
		<td style="height: 48px; width: 201px;" class="auto-style4" valign="top">
            <div class="ttsconfig btnpopulategooglevoices 8001 9001">
                <a onClick="checkProvider()" data-role="button" data-inline="true" data-mini="true" href="#">
                    <TMPL_VAR T2S.BUTTON_VOICES>
                </a>
            </div>
        </td>
		</td>
		<td style="height: 48px; width: 24px;"></td>
	</tr>
	<tr class="colsec">
		<td style="width: 25%; height: 48px;">
			<label id="lseckey"><TMPL_VAR T2S.LABEL_SECRET_KEY></label>
		</td>
		<td style="width: 50%; height: 48px;">
			<input id="seckey" name="seckey" type="text" class="textfield" value="<TMPL_VAR TTS.secret-key>"
			data-validation-error-msg="<TMPL_VAR ERRORS.ERR_SECRETKEY>" 
			data-validation-rule="^([\+\/A-Za-z0-9]){40}$">

		<td style="width: 201px; height: 48px;">
		</td>
		<td style="width: 24px; height: 48px;"></td>

	<tr>
        <td class="infotext" style="width: 201px; height: 20px;" valign="top">
        </td>
            <td class="infotext" id="info" name="info" style="width: 201px; height: 20px;" valign="top">
                <font color=#FF0000>
                    <marquee>
                        <TMPL_VAR INFO>
                    </marquee>
                </font>
            </td>
    </tr>



		
	</tr>
	<tr class="collang">
			<td style="height: 60px; width: 25%;">
			<label id="llang"><TMPL_VAR T2S.TTS_LANGUAGE></label>
		</td>
		<td width="50%" style="height: 60px">
			<table border=0 width="100%">
				<tr>
					<div data-role="collapsible">
						<td style="height: 36px; width: 294px; text-align: left;">
							<fieldset style="width: 286px">
								<select onclick="filterlang()" id="t2slang" name="t2slang" data-mini="true" style="align:left; width: 258px;"
								data-validation-error-msg="<TMPL_VAR T2S.SELECT_LANGUAGE_DROPDOWN>" 
								data-validation-rule="^([A-Za-z0-9]){4,10}$">
								</select>
							</fieldset>
						</td>
					<div id="loginResult" style="display:none;">
					</div>
					<div id="msg"></div>
						<td style="height: 36px; width: 294px;" class="field-voice" style="display:none">
							<fieldset style="width: 187px">
								<select  id="voice" name="voice" data-mini="true" style="align:left; width: 206px;"
								data-validation-error-msg="<TMPL_VAR T2S.SELECT_VOICE_DROPDOWN>" 
								data-validation-rule="^([A-Za-z0-9]){4,10}$">
								</select>
							</fieldset>
						<td style="height: 36px; width: 294px; text-align: right;">
								<fieldset style="width: 48px">
								<input name="langiso" id ="langiso" style="width: 46px" readonly="true" type="hidden" align="middle" data-mini="true">
							</fieldset>
						</td>
					</div>
				</tr>
			</table>
		</td>
			<td style="height: 30px; width: 201px;">
			</td>
		</tr>
		<tr class="colmp3">
			<td style="width: 25%">
				<label id="lmp3store"><TMPL_VAR T2S.LABEL_MP3_FILES></label>
			</td>
			<td style="width: 50%">
				<table border=0 width="100%">
			<tr>
				<td width="19%">
					<select id="mp3store" name="mp3store" data-mini="true" data-native-menu="false" width="50%">
						<option value="1"><TMPL_VAR T2S.1DAY_MP3_STORE></option>
						<option value="7"><TMPL_VAR T2S.7DAY_MP3_STORE></option>
						<option value="30"><TMPL_VAR T2S.30DAY_MP3_STORE></option>
						<option value="365"><TMPL_VAR T2S.365DAY_MP3_STORE></option>
						<option value="0"><TMPL_VAR T2S.ENDLESS_MP3_STORE></option>
					</select>
					<script>
						$('#mp3store option[value="<TMPL_VAR MP3.MP3store>"').prop('selected', 'selected');
					</script>
				</td>
			<td>
				<table border=0 width="100%">
					<tr>
						<td style="height: 30px; text-align: center; width: 34%;">
							<label id="lfile_gong"><TMPL_VAR T2S.LABEL_MP3_FILE></label>
						</td>
						<td style="height: 30px">
							<select id='file_gong' name='file_gong' data-mini='true' 
								data-validation-error-msg="<TMPL_VAR T2S.SELECT_JINGLE_DROPDOWN>" 
								data-validation-rule="^([A-Za-z0-9]){4,10}$">
								<option selected='true' value='' disabled><TMPL_VAR T2S.SELECT_JINGLE_DROPDOWN></option>
								<TMPL_VAR MP3_LIST>
							</select>
							<script>
							$('#file_gong').val('<TMPL_VAR MP3.file_gong>');
							</script>
						</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td colspan=2 align="right">
				<font size="-1"><TMPL_VAR T2S.JINGLE_SOURCE> <TMPL_VAR DATADIR>/mp3/</font>
			</td>
		</tr>
	</table>
		<td valign="middle" style="height: 60px; width: 201px;">
		&nbsp;
		</td>
		<td style="height: 60px; width: 24px;">
		</td>
	</tr>
	<tr>
	<td style="height: 60px; width: 25%;">
			<label id="lcachesize"><TMPL_VAR T2S.LABEL_CACHESIZE></label>
		</td>
		<td width="50%" style="height: 60px">
			<input type="range" name="cachesize" id="cachesize" value="<TMPL_VAR MP3.cachesize>" min="100" max="5000" step="100">
		</td>
		<td style="height: 30px; width: 201px;">
		</td>
		<td style="height: 30px; width: 201px;">
		</td>
	</tr>
	<tr>
	<td style="height: 60px; width: 25%;">
			<label id="llang"><TMPL_VAR T2S.CARD></label>
		</td>
		<td width="50%" style="height: 60px">
			<table border=0 width="100%">
				<div data-role="collapsible">
					<tr>
						<td style="height: 36px; width: 294px; text-align: left;">
							<select onclick="usbdevice()" id='out_list' name='out_list' data-mini='true' 
								data-validation-error-msg="<TMPL_VAR T2S.SELECT_OUTPUT_DROPDOWN>" 
								data-validation-rule="^([A-Za-z0-9]){4,10}$">
								<option selected='true' value='' disabled><TMPL_VAR T2S.SELECT_OUTPUT_DROPDOWN></option>
								<TMPL_VAR OUT_LIST>
							</select>
							<script>
								$('#out_list').val('<TMPL_VAR SYSTEM.card>');
							</script>
						</td>
						<div id="loginResult" style="display:none;"></div>
						<div id="msg"></div>
					</tr>
				</div>
			
			</table>
		</td>
		<td style="height: 30px; width: 201px;">
			</td>
		<td style="height: 30px; width: 201px;">
		</td>
	</tr>
	<tr>
	<td class="foundusb" style="height: 30px; width: 201px;">
		<label id="lusb"><TMPL_VAR T2S.SOUNDCARDS></label>
	</td>
	<td class="foundusb" style="height: 30px; width: 201px;">
		<div id="workdir" class="foundusb" style="text-align:left; display:inline-block; margin-bottom:5px; width:99%; padding:10px; border: 1px solid black; border-radius: 5px; background-color: rgba(228,228,228,.1);">
		<font size="-1">
		<TMPL_VAR SC_LIST>
		</font>
		</div>
	</td>
	<td class="foundusb" style="height: 30px; width: 201px;">
	</td>
	<td class="foundusb" style="height: 30px; width: 201px;">
	</td>
	</tr>
	<tr>
	<td class="collapse_usb" style="height: 60px; width: 25%;">
			<label id="lusb"><TMPL_VAR T2S.USB></label>
		</td>
		<td class="collapse_usb" width="50%" style="height: 60px">
			<table border=0 width="100%">
			<div data-role="collapsible">
				<tr>
						<td class="collapse_usb" style="height: 36px; width: 204px; text-align: left;">
							<select id='usb_list' name='usb_list' data-mini='true' 
								data-validation-error-msg="<TMPL_VAR T2S.SELECT_USB_DROPDOWN>" 
								data-validation-rule="^([A-Za-z0-9]){4,10}$">
								<option selected='true' disabled><TMPL_VAR T2S.SELECT_USB_DROPDOWN></option>
								<TMPL_VAR USB_LIST>
							</select>
							<script>
								$('#usb_list').val('<TMPL_VAR SYSTEM.usbcard>');
							</script>
							
							<td class="collapse_usb" style="height: 30px; width: 30px;">
								<label id="lusb"><TMPL_VAR T2S.USB_CARDNO></label>
							</td>	
							<td class="collapse_usb" width="19%">
								<select id="usbcardno" name="usbcardno" data-mini="true" data-native-menu="false" width="20%">
									<!--<option value="0">0</option>-->
									<option selected="selected" value="1">1</option>
									<option value="2">2</option>
								</select>
								<script>
									$('#usbcardno option[value="<TMPL_VAR SYSTEM.usbcardno>"').prop('selected', 'selected');
								</script>
							</td>
							
							<td class="collapse_usb" style="height: 30px; width: 30px;">
								<label id="lusb"><TMPL_VAR T2S.USB_DEVICE></label>
							</td>	
							<td class="collapse_usb" width="19%">
								<select id="usbdeviceno" name="usbdeviceno" data-mini="true" data-native-menu="false" width="20%">
									<option value="0">0</option>
									<option value="1">1</option>
									<option value="2">2</option>
									<option value="3">3</option>
									<option value="4">4</option>
								</select>
								<script>
									$('#usbdeviceno option[value="<TMPL_VAR SYSTEM.usbdevice>"').prop('selected', 'selected');
								</script>
							</td>	
						</td>
					<div id="loginResult" style="display:none;"></div>
					<div id="msg"></div>
				</tr>
				</div>
			</table>
		</td>
		<td class="collapse_usb" style="height: 30px; width: 201px;">
			</td>
		<td class="collapse_usb" style="height: 30px; width: 201px;">
		</td>
	</tr>
	
	
	<tr>
		<td style="height: 60px; width: 25%;">
			<label id="lcard"><TMPL_VAR T2S.LABEL_SOUNDCARD></label>
		</td>
		<td style="height: 60px; width: 25%;">
			<TMPL_VAR STORAGEPATH>
        </td>
        	<td style="height: 60px; width: 201px;">
		</td>
			<td style="height: 60px; width: 201px;">
		</td>
	</tr>
	
	<tr>
			<td style="height: 30px; width: 201px;">
			<label id="lvolume"><TMPL_VAR T2S.LABEL_TTS_VOLUME></label>
		</td>
		<td>
		<!--
		<fieldset style="width: 15%">
			<input id="volume" name="volume" type="text" class="textfield" value="<TMPL_VAR TTS.volume>"
				data-validation-error-msg="<TMPL_VAR ERRORS.ERR_VOLUME>" 
				data-validation-rule="special:number-min-max-value:0:100">
			</fieldset>
		-->
		<table border=0 width="100%">
		<tr>
		<td width="95%"> 
		<input type="range" name="volume" id="volume" value="<TMPL_VAR TTS.volume>" min="0" max="500" step="10"
			data-validation-error-msg="<TMPL_VAR ERRORS.ERR_VOLUME>"
			data-validation-rule="special:number-min-max-value:0:500">
		</td>
		<td width="5%">
		%
		</td>
		</tr>
		</table>
		</td>
			<td style="height: 30px; width: 20%;">
		</td>
			<td style="height: 30px; width: 20%	;">
		</td>
	</tr>
			
	<tr>
		<td colspan=3 valign="middle" style="height: 33px">
			<hr style="border:solid #bebebe 3px;height:2px; width: 100%;">
		</td>
	</tr>
		
	<!-- Options-->
	<tr>
		<td colspan=3 style="height: 30px; ">
			<h3><TMPL_VAR TEMPLATE.MAIN_LABEL_OPTIONS></h3>
		</td>
	</tr>
	<td style="height: 30px; width: 10%;">
		<TMPL_VAR TEMPLATE.LABEL_OPTIONS>
	</td>
	<td colspan=3 valign="middle">
		<div style="display:table-cell; width:60%;">
			<div style="display:table; padding:10px; border: 1px solid black; border-radius: 5px; background-color: #6dac20;">
				<fieldset data-role="controlgroup">
					<div style="display:table-row;">
						<div style="display:table-cell;">
							<input name="Checkbox3" type="checkbox" onclick="weatherlayout()" id="weather_det" data-icon="check" style="width: 142px">								
							<label for="weather_det"><TMPL_VAR WEATHER.LAYOUT_CHECKBOX></label>
						</div>
						<div style="display:table-cell;">
							<input name="Checkbox4" type="checkbox" onclick="destlayout()" id="dest_det" data-icon="check" style="width: 142px">								
							<label for="dest_det"><TMPL_VAR DESTINATION.LAYOUT_CHECKBOX></label>
						</div>
						<div style="display:table-cell;">
							<input name="Checkbox5" type="checkbox" onclick="callayout()" id="cal_det" data-icon="check" style="width: 142px">								
							<label for="cal_det"><TMPL_VAR CALENDAR.LAYOUT_CHECKBOX></label>
						</div>
					</div>
				</fieldset>
			</div>
		</div>
	</td>
	
	
	<!-- Start Destination -->
	
		<tr class="destdet">
		<td colspan=3 valign="middle" style="height: 33px">
			<h3><TMPL_VAR DESTINATION.HEADER></h3>
		</td>
	</tr>
	<tr class="destdet">
		<td colspan=3 valign="middle" style="height: 37px">
			<font size="-1"><TMPL_VAR DESTINATION.NOTE><a href="<TMPL_VAR DESTINATION.LINK_GOOGLE>"<TMPL_VAR DESTINATION.LABEL_LINK_GOOGLE></a></font>
		</td>
	</tr>
		
		<tr class="destdet">
			<td style="height: 48px; width: 25%">
				<label id="lapikey"><TMPL_VAR DESTINATION.LABEL_GOOGLE_API></label>
			</td>
			<td style="width: 50%; height: 48px">
				<input id="googlekey" name="googlekey" type="text" class="textfield" value="<TMPL_VAR LOCATION.googlekey>">
			</td>
			<td style="height: 48px; width: 201px;" class="auto-style4">
				<font size="-1"><a id="linkgoogle" href="<TMPL_VAR DESTINATION.LINK_GOOGLE_DISTANCE>" target="_blank"><TMPL_VAR DESTINATION.LABEL_GOOGLE_DISTANCE></a></font>
			</td>
		</tr>
		
		
		<td class="destdet" style="width: 25%"><TMPL_VAR DESTINATION.LABEL_GOOGLE_REGION>
			<label style="font-size: x-small;" id="lexample"><TMPL_VAR DESTINATION.LABEL_GOOGLE_EXAMPLE></label>
		</td>	
			<td style="width: 10%">
				<table border=0 width="100%">
			<tr class="destdet">
				<td style="width: 41%">
					<input id="googletown" name="googletown" type="text" class="textfield" value="<TMPL_VAR LOCATION.googletown>" style="width: 215px">
				</td>
			<td>
				<table border=0 width="100%">
					<tr class="destdet">
						<td style="height: 30px; width: 24%; text-align: center;">
							<TMPL_VAR DESTINATION.LABEL_ADDRESS></td>
						<td style="height: 30px">
							<input id="googlestreet" name="googlestreet" type="text" class="textfield" value="<TMPL_VAR LOCATION.googlestreet>" style="width: 231px">
						</td>
						
					</tr>
				</table>
			</tr>
			<tr class="destdet">
				<td colspan=3 valign="middle" style="height: 33px">
					<h3></h3>
				</td>
			</tr>
	</table>
	
	<!-- End Destination-->

		
	<!-- Start Kalender-->
		
	<tr class="caldet">
		<td colspan=3 valign="middle" style="height: 33px">
			<hr/>
			<h3><a <TMPL_VAR CALENDAR.HEADER_LINK> target="_blank"><TMPL_VAR CALENDAR.HEADER></a></h3>
		</td>
	</tr>
	<tr class="caldet">
		<td style="height: 48px; width: 25%">
			<label id="lwastecal"><TMPL_VAR CALENDAR.WASTE_LABEL></label>
		</td>
		<td style="width: 50%; height: 48px">
			<input id="wastecal" name="wastecal" type="text" class="textfield" value="<TMPL_VAR VARIOUS.CALDavMuell>">
		</td>
		<td style="height: 48px; width: 201px;" class="auto-style4">
			<input name="val_t2s" id="val_t2s" class="textfield" value="<TMPL_VAR T2S_ENGINE>" type="hidden" style="width: 96px">
			<input name="lblang" id="lblang" class="textfield" value="<TMPL_VAR LBLANG>" type="hidden" style="width: 96px">
		</td>	
		<tr class="caldet">
		<td style="height: 48px; width: 25%">
			<label id="lcal"><TMPL_VAR CALENDAR.CALENDAR_LABEL></label>
		</td>
		<td style="width: 50%; height: 48px">
			<input id="cal" name="cal" type="text" class="textfield" value="<TMPL_VAR VARIOUS.CALDav2>">
		</td>
		<td style="height: 48px; width: 201px;" class="auto-style4">
			<input name="val_voice" id="val_voice" type="hidden" class="textfield" value="<TMPL_VAR VOICE>" style="width: 93px">
			<input name="val_code" id="val_code" type="hidden" class="textfield" value="<TMPL_VAR CODE>" style="width: 93px">
		</td>
		<tr class="caldet">
			<td colspan=3 valign="middle" style="height: 33px">
				<h3></h3>
		</td>
		</tr>
	
	<!-- Ende Kalender-->
		
	<!-- Start Weather-->	
		<tr class="weatherdet">
			<td colspan=3 valign="middle" style="height: 33px">
				<hr/>
				<h3><TMPL_VAR WEATHER.HEADER_WEATHER></h3>
			</td>
		</tr>
		<tr class="weatherdet">
			<td colspan=3 style="height: 23px; width: 70%">
				<font size="-1"><TMPL_VAR WEATHER.NOTE_WEATHER></font>
			</td>
		</tr>
		<tr class="weatherdet">
		<td style="height: 56px"><TMPL_VAR WEATHER.REGION>
		</td>
		<td style="width: 50%; height: 56px;">
			<table border=0 width="100%">
				<tr class="weatherdet">
					<td width="20%" style="height: 30px">
						<select id="region" name="region" data-mini="true" style="width: 102px" >
							<option value="baw" <TMPL_VAR REGION1>><TMPL_VAR WEATHER.REGION1></option>
							<option value="bay" <TMPL_VAR REGION2>><TMPL_VAR WEATHER.REGION2></option>
							<option value="bbb" <TMPL_VAR REGION3>><TMPL_VAR WEATHER.REGION3></option>
							<option value="hes" <TMPL_VAR REGION4>><TMPL_VAR WEATHER.REGION4></option>
							<option value="mvp" <TMPL_VAR REGION5>><TMPL_VAR WEATHER.REGION5></option>
							<option value="nib" <TMPL_VAR REGION6>><TMPL_VAR WEATHER.REGION6></option>
							<option value="nrw" <TMPL_VAR REGION7>><TMPL_VAR WEATHER.REGION7></option>
							<option value="rps" <TMPL_VAR REGION8>><TMPL_VAR WEATHER.REGION8></option>
							<option value="sac" <TMPL_VAR REGION9>><TMPL_VAR WEATHER.REGION9></option>
							<option value="saa" <TMPL_VAR REGION10>><TMPL_VAR WEATHER.REGION10></option>
							<option value="shh" <TMPL_VAR REGION11>><TMPL_VAR WEATHER.REGION11></option>
							<option value="thu" <TMPL_VAR REGION12>><TMPL_VAR WEATHER.REGION12></option>
						</select>
						<script>$('#region').val('<TMPL_VAR LOCATION.region>');</script>
					</td>
				<td style="height: 30px">		
			<td width="50%" style="height: 30px; text-align: center;"><TMPL_VAR WEATHER.TOWN></td>
			<td style="height: 30px"><input id="town" name="town" type="text" class="textfield" value="<TMPL_VAR LOCATION.town>"></td>
		</tr>
	</table>
	<td valign="middle" style="height: 60px; width: 201px; font-size: smaller;">
		<a id="linkdwd" href="<TMPL_VAR WEATHER.LINK_WEATHER_SERVICE>" target="_blank"><TMPL_VAR WEATHER.LABEL_WEATHER_SERVICE></a><br>
		<a id="linkpollen" href="<TMPL_VAR WEATHER.LINK_ALLERGEN>" target="_blank"><TMPL_VAR WEATHER.LABEL_ALLERGEN></a>
	</td>
	<tr class="weatherdet">
		<td colspan=3 valign="middle" style="height: 33px">
			<h3></h3>
		</td>
	</tr>
</td>
<!-- Ende Weather-->	
		
		
<!-- Ende-->	
	
	
		</table>
	
			<td></td>
			<td colspan=3>
				<div id="form-error-message" class="form-error-message"></div>
			</td>
	
		<p><p>
			<center>
				<a id="btncancel" data-role="button" data-inline="true" data-mini="true" data-icon="delete" href="/admin/index.cgi"><TMPL_VAR SAVE.CANCEL_BUTTON></a>
				<button type="submit" form="main_form" id="btnsubmit" data-role="button" data-inline="true" data-mini="true" data-icon="check"><TMPL_VAR SAVE.SAVE_BUTTON></button>
			</center>
		</p>
		
	
	

<!-- Speech SDK reference sdk. -->
	
<!--<script src="https://aka.ms/csspeech/jsbrowserpackageraw"></script>-->
<script src="/plugins/<TMPL_VAR PLUGINDIR>/voice_engines/bin/Microsoft/microsoft.cognitiveservices.speech.sdk.bundle.js"></script>

<script>
	
//***************** Start of Functions to be executed during loading the page **********************

$(document).on('pageinit', function() {

// Load saved languages/voice into fields
initial_lang_voice_load();	
	
// Disable some options on Load depending on selected value
disable();
callayout();
destlayout();
weatherlayout();
$(".infotext").fadeOut(800);
soundcardsizefile();

});

//***************** End of Functions to be executed during loading the page **********************




//**************************** Start Block for Layout control ************************************

function callayout()  {
	if ( document.main_form.cal_det.checked == true ) {
		$(".caldet").fadeIn(800);
	} else {
		$(".caldet").fadeOut(800);
	}
}
function destlayout()  {
	if ( document.main_form.dest_det.checked == true ) {
		$(".destdet").fadeIn(800);
	} else {
		$(".destdet").fadeOut(800);
	}
}
function weatherlayout()  {
	if ( document.main_form.weather_det.checked == true ) {
		$(".weatherdet").fadeIn(800);
	} else {
		$(".weatherdet").fadeOut(800);
	}
}
function soundcardsizefile()   {
	var filesize = $('#myFile').val();
	if (filesize > 0)   {
		$(".foundusb").fadeIn(800);
	} else {
		$(".foundusb").fadeOut(800);
	}
}



// function to disable/enable some fields on click depending on selected value
function disable() {

  // T2S INSTANZ
  if ( document.main_form.tts_voicerss.checked == true ) {
    	$('#voice').addClass('ui-disabled');
		$('#t2slang').removeClass('ui-disabled');
		$('#linkvoicerss').removeClass('ui-disabled');
		$('#linkpolly').addClass('ui-disabled');
		$('.field-voice').fadeOut(600);
		$('.colapi').fadeIn(600);
		$('.colsec').fadeOut(600);
		$('.collang').fadeIn(600);
		$('.colmp3').fadeIn(600);
		$('.keylinks').fadeIn(600);
		$('.googleinfo').fadeOut(600);
		$('.azureinfo').fadeOut(600);
		validate_enable('#apikey');
		validate_chk_object(['#apikey']);
		
  }
  if ( document.main_form.tts_mac_osx.checked == true ) {
     	$('#voice').addClass('ui-disabled');
        $('#t2slang').removeClass('ui-disabled');
        $('.field-voice').fadeOut(600);
		$('.colapi').fadeOut(600);
		$('.colsec').fadeOut(600);
		$('.collang').fadeIn(600);
		$('.colmp3').fadeIn(600);
		$('.keylinks').fadeOut(600);
		$('.googleinfo').fadeOut(600);
		$('.azureinfo').fadeOut(600);
  }
  if ( document.main_form.tts_pico.checked == true ) {
        $('#voice').addClass('ui-disabled');
        $('#t2slang').removeClass('ui-disabled');
        $('.field-voice').fadeOut(600);
        $('.colapi').fadeOut(600);
		$('.colsec').fadeOut(600);
		$('.collang').fadeIn(600);
		$('.colmp3').fadeIn(600);
		$('.keylinks').fadeOut(600);
		$('.googleinfo').fadeOut(600);
		$('.azureinfo').fadeOut(600);
  }
  if ( document.main_form.tts_respvoice.checked == true ) {
        $('#voice').addClass('ui-disabled');
        $('#t2slang').removeClass('ui-disabled');
        $('.field-voice').fadeOut(600);
        $('.colapi').fadeOut(600);
		$('.colsec').fadeOut(600);
		$('.collang').fadeIn(600);
		$('.colmp3').fadeIn(600);
		$('.keylinks').fadeOut(600);
		$('.googleinfo').fadeOut(600);
		$('.azureinfo').fadeOut(600);
  }
  if ( document.main_form.tts_polly.checked == true ) {
    	$('#voice').removeClass('ui-disabled');
		$('#t2slang').removeClass('ui-disabled');
		$('#linkvoicerss').addClass('ui-disabled');
		$('#linkpolly').removeClass('ui-disabled');
		$('.field-voice').fadeIn(600);
		$('.colapi').fadeIn(600);
		$('.colsec').fadeIn(600);
		$('.collang').fadeIn(600);
		$('.colmp3').fadeIn(600);
		$('.keylinks').fadeIn(600);
		$('.googleinfo').fadeOut(600);
		$('.azureinfo').fadeOut(600);
		$('#voice').selectmenu('refresh', true);  
		validate_enable('#apikey');
		validate_enable('#seckey');
		validate_chk_object(['#seckey', '#apikey']);

 }
 if ( document.main_form.tts_google_cloud.checked == true ) {
		$('#voice').addClass('ui-disabled');
		$('#t2slang').removeClass('ui-disabled');
		$('#linkvoicerss').removeClass('ui-disabled');
		$('#linkpolly').addClass('ui-disabled');
		$('.field-voice').fadeIn(600);
		$('.colapi').fadeIn(600);
		$('.colsec').fadeOut(600);
		$('.collang').fadeIn(600);
		$('.colmp3').fadeIn(600);
		$('.keylinks').fadeOut(600);
		$('.googleinfo').fadeIn(600);
		$('.azureinfo').fadeOut(600);
		validate_enable('#apikey');
		validate_chk_object(['#apikey']);
  }
  if ( document.main_form.tts_azure.checked == true ) {
		$('#voice').addClass('ui-disabled');
		$('#t2slang').removeClass('ui-disabled');
		$('#linkvoicerss').removeClass('ui-disabled');
		$('#linkpolly').addClass('ui-disabled');
		$('.field-voice').fadeOut(600);
		$('.colapi').fadeIn(600);
		$('.colsec').fadeOut(600);
		$('.collang').fadeIn(600);
		$('.colmp3').fadeIn(600);
		$('.keylinks').fadeOut(600);
		$('.googleinfo').fadeOut(600);
		$('.azureinfo').fadeIn(600);
		validate_enable('#apikey');
		validate_chk_object(['#apikey']);
  }
validate_enable('#volume');
validate_chk_object(['#volume', '#apikey']);

}
//*************************End of Block for Layout control ************************************




//****************** Prepare the voicename from Polly to pass to CGI *****************************

function usbdevice()  {

	//console.log("fadeInOutUSBdevice");
	if ($('#out_list').val() == "012" || $('#out_list').val() == "013")  {
	//console.log($('#out_list').val());
		$('.collapse_usb').fadeIn(600);
	} else {
		$('.collapse_usb').fadeOut(600);
	}
}


function filtervoice() {  

	if (document.main_form.tts_polly.checked == true ) {
		var selectvoice = document.getElementById("voice");
		var selectedvoice = selectvoice.options[selectvoice.selectedIndex].text;
		return selectedvoice;
		$('select').selectmenu('refresh', true);  
	}
}

//************************ Prepare screen during initial load*** *****************************
function initial_lang_voice_load()  {
	// if screen is initial, no T2S engine selected
	if (!$('#val_t2s').val()) {
		$('#t2slang').empty();
	 	$('#voice').addClass('ui-disabled');
		$('#t2slang').addClass('ui-disabled');
	} else {
		$('#voice').addClass('ui-disabled');
		$('#t2slang').removeClass('ui-disabled');
		//$('#t2slang').append('<option value=""><TMPL_VAR T2S.SELECT_LANGUAGE_DROPDOWN></option>');
		// if T2S engine polly (4001) has been selected pass saved voice to field
		if ($('#val_t2s').val() == '4001')  {
			console.log("Initial: Polly selected");
			var url = "/plugins/<TMPL_VAR PLUGINDIR>/voice_engines/langfiles/polly.json";
			var urlvoice = "/plugins/<TMPL_VAR PLUGINDIR>/voice_engines/langfiles/polly_voices.json";
			$('.field-voice').fadeIn(1);
			//$('#t2slang').append('<option selected="true" value="" disabled><TMPL_VAR T2S.SELECT_LANGUAGE_DROPDOWN></option>');
			$.getJSON(url, function(listlang)  {
               	$.each(listlang, function(index, value)  { 
               		if (value.value == '<TMPL_VAR CODE>') {
	               		$('#t2slang').append('<option selected="selected" value="'+value.value+'">'+value.country+'</option>');
	               		$('#t2s_lang_country').val('+value.country+');
	               	} else {
	               		$('#t2slang').append('<option value="'+value.value+'">'+value.country+'</option>');
	               	}
	               	$('#voice').removeClass('ui-disabled');
	               	$('#t2slang').selectmenu('refresh', true);
             	});
            //});
            var selectlang = document.getElementById("t2slang");
			var selectedlang = selectlang.options[selectlang.selectedIndex].value;
		    $('#voice').removeClass('ui-disabled');
            $.getJSON(urlvoice, function(listvoice)  {
			//$('#voice').append('<option selected="true" value="" disabled><TMPL_VAR T2S.SELECT_VOICE_DROPDOWN></option>');
		    var selectedvoiceList = listvoice.filter(function(item){
		    	return item.language === selectedlang;
		  	});
		  	$.each(selectedvoiceList, function(index, value) {
			    if (value.name == '<TMPL_VAR VOICE>') {
	               	$('#voice').append('<option selected="selected" value="'+value.name+'">'+value.name+'</option>');
	            } else {
	            	$('#voice').append('<option value="'+value.name+'">'+value.name+'</option>');
	            }
	            $('#voice').selectmenu('refresh', true);
		    });
			});
		});
				$('#voice').removeClass('ui-disabled');
		
		// end of polly
		} else {
			$('#voice').empty();
			$('#voice').addClass('ui-disabled');
		}
		
		if ($('#val_t2s').val() == '7001')  {
			console.log("Initial: Google Cloud selected");
		
		
		
		}
	}
	$('#voice').addClass('ui-disabled');
	$('#t2slang').removeClass('ui-disabled');
	if ($('#val_t2s').val() == '1001')  {
		$('.field-voice').fadeOut(600);
        var url = "/plugins/<TMPL_VAR PLUGINDIR>/voice_engines/langfiles/voicerss.json";
		console.log("Initial: Voice RSS selected");
	}
	else if($('#val_t2s').val() == '3001')   {
		$('.field-voice').fadeOut(600);
        var url = "/plugins/<TMPL_VAR PLUGINDIR>/voice_engines/langfiles/osx.json";
    }
    else if($('#val_t2s').val() == '5001')   {
    	$('.field-voice').fadeOut(600);
        var url = "/plugins/<TMPL_VAR PLUGINDIR>/voice_engines/langfiles/pico.json";	
    }
    else if($('#val_t2s').val() == '6001')   {
    	$('.field-voice').fadeOut(600);
        var url = "/plugins/<TMPL_VAR PLUGINDIR>/voice_engines/langfiles/respvoice.json";	
    }
    else if($('#val_t2s').val() == '7001')   {
	    $('.field-voice').fadeOut(600);
		populateGoogleCloudVoices();
    }
	else if($('#val_t2s').val() == '9001')   {
	    $('.field-voice').fadeOut(600);
		populateAzureVoices();
    }
	else 
	{
	    $('.field-voice').fadeOut(600);
		$('.colapi').fadeOut(600);
		$('.colsec').fadeOut(600);
		$('.collang').fadeOut(600);
		$('.colmp3').fadeOut(600);
		$('.googleinfo').fadeOut(600);
		$('.azureinfo').fadeOut(600);

 
    }
    //$('#t2slang').append('<option selected="true" value="" disabled><TMPL_VAR T2S.SELECT_LANGUAGE_DROPDOWN></option>');
	$.getJSON(url, function(listlang)  {
    $.each(listlang, function(index, value)  { 
    if (value.value == '<TMPL_VAR CODE>') {
		$('#t2slang').append('<option selected="selected" value="'+value.value+'">'+value.country+'</option>');
		$('#t2s_lang_country').val('+value.country+');
	} else {
		$('#t2lang').append('<option value="'+value.value+'">'+value.country+'</option>');
	}
	$('#voice').removeClass('ui-disabled');
	$('#t2slang').selectmenu('refresh', true);
    });
});
    
    
    
 	// prepare voice list for Polly   
    $('#t2slang').empty();
          $('#voice').empty();
          //$('#t2slang').append('<option selected="true" value="" disabled><TMPL_VAR T2S.SELECT_LANGUAGE_DROPDOWN></option>');
          //$('#voice').append('<option selected="true" value="" disabled><TMPL_VAR T2S.SELECT_VOICE_DROPDOWN></option>');
          $('#t2slang').prop('selectedIndex', 0);
          $.getJSON(url, function(listlang)  {
               	$.each(listlang, function(index, value)  { 
               		if (value.value == '<!--$code-->') {
	               		$('#t2slang').append('<option selected="selected" value="'+value.value+'">'+value.country+'</option>');
	               		$('#t2s_lang_country').val('+value.country+');
	               	} else {
	               		$('#t2slang').append('<option value="'+value.value+'">'+value.country+'</option>');
	               	}
	               	$('select').selectmenu('refresh', true);
             	});
            });
          $('select').selectmenu();
          $('select').selectmenu('refresh', true);
	$('#t2slang').selectmenu('refresh', true);
	$('#voice').selectmenu('refresh', true);

};


//************************ Prepare Document ready layout ********************************

// function to populate dropdown from JSON files based on selected T2S Provider
 $(document).ready( function() {
		usbdevice();
 	
	  // load JSON files into dropdwon field language
      $("input[name='t2s_engine']").on('click',function() {
          if($(this).is(':checked') && $(this).val() == '1001')  {
            var url = "/plugins/<TMPL_VAR PLUGINDIR>/voice_engines/langfiles/voicerss.json";
          }
          else if($(this).is(':checked') && $(this).val() == '3001')   {
            var url = "/plugins/<TMPL_VAR PLUGINDIR>/voice_engines/langfiles/osx.json";
          }
		  else if($(this).is(':checked') && $(this).val() == '4001')   {
            var url = "/plugins/<TMPL_VAR PLUGINDIR>/voice_engines/langfiles/polly.json";	     
          }
		  else if($(this).is(':checked') && $(this).val() == '5001')   {
            var url = "/plugins/<TMPL_VAR PLUGINDIR>/voice_engines/langfiles/pico.json";	                 
		  }
		  else if($(this).is(':checked') && $(this).val() == '6001')   {
			var url = "/plugins/<TMPL_VAR PLUGINDIR>/voice_engines/langfiles/respvoice.json";	                             
          }
		  else if($(this).is(':checked') && $(this).val() == '7001')   {
		    //populateGoogleCloudVoices();
			//var url = "/plugins/<TMPL_VAR PLUGINDIR>/voice_engines/langfiles/google.json";	                                         
          }
          else  {
         	
          }
          $('#t2slang').empty();
          $('#voice').empty();
          //$('#t2slang').append('<option selected="true" value="" disabled><TMPL_VAR T2S.SELECT_LANGUAGE_DROPDOWN></option>');
          //$('#voice').append('<option selected="true" value="" disabled><TMPL_VAR T2S.SELECT_VOICE_DROPDOWN></option>');
          $('#t2slang').prop('selectedIndex', 0);
          $.getJSON(url, function(listlang)  {
               	$.each(listlang, function(index, value)  { 
               		if (value.value == '<TMPL_VAR CODE>') {
	               		$('#t2slang').append('<option selected="selected" value="'+value.value+'">'+value.country+'</option>');
	               		$('#t2s_lang_country').val('+value.country+');
	               	} else {
	               		$('#t2slang').append('<option value="'+value.value+'">'+value.country+'</option>');
	               	}
	               	$('select').selectmenu('refresh', true);
             	});
            });
          $('select').selectmenu();
          $('select').selectmenu('refresh', true);
    });
    // pass ISO code of selected language to field for info
    var isocode = '<TMPL_VAR CODE>'.substr(0, 2);
	$('#langiso').val(isocode);
	// $("#langiso").textinput("refresh");

	//disable();

	// Function to control saving, main_form is submitted    
	$("form#main_form").submit(function(e) {
		var selectlang = $('#t2slang').val();
		var selectvoice = $('#voice').val();
		if (document.main_form.tts_polly.checked == true ) {
			//var selectvoice = document.getElementById("voice").value;
			if (selectlang == null)  {
				$(".infotext").fadeIn(800);
				$("#info").attr("style", "color:red");
				$("#info").text('<TMPL_VAR T2S.VALIDATE_T2S_LANG>');
				$('html, body').animate({
			        scrollTop: $("#info").offset().top
			    }, 2000);
			    $("#t2slang").focus();
				e.preventDefault();
			}
			if (selectvoice == null)  {
				$(".infotext").fadeIn(800);
				$("#info").attr("style", "color:red");
				$("#info").text('<TMPL_VAR T2S.VALIDATE_VOICE>');
				$('html, body').animate({
			        scrollTop: $("#info").offset().top
			    }, 2000);
			    $("#voice").focus();
				e.preventDefault();
			}
		}
		else if (document.main_form.tts_mac_osx.checked == true ) {
			if (selectlang == null)  {
				$(".infotext").fadeIn(800);
				$("#info").attr("style", "color:red");
				$("#info").text('<TMPL_VAR T2S.VALIDATE_T2S_LANG>');
				$('html, body').animate({
			        scrollTop: $("#info").offset().top
			    }, 2000);
			    $("#t2slang").focus();
				e.preventDefault();
			}
		}
		else if (document.main_form.tts_voicerss.checked == true ) {
			if (selectlang == null)  {  
				$(".infotext").fadeIn(800);
				$("#info").attr("style", "color:red");
				$("#info").text('<TMPL_VAR T2S.VALIDATE_T2S_LANG>');
				$('html, body').animate({
			        scrollTop: $("#info").offset().top
			    }, 2000);
			    $("#t2slang").focus();
      			e.preventDefault();
			}
		}
		else if (document.main_form.tts_pico.checked == true ) {
			if (selectlang == null)  {  
				$(".infotext").fadeIn(800);
				$("#info").attr("style", "color:red");
				$("#info").text('<TMPL_VAR T2S.VALIDATE_T2S_LANG>');
				$('html, body').animate({
			        scrollTop: $("#info").offset().top
			    }, 2000);
			    $("#t2slang").focus();
				e.preventDefault();
			}
		}
		else if (document.main_form.tts_respvoice.checked == true ) {
			if (selectlang == null)  {
				$(".infotext").fadeIn(800);
				$("#info").attr("style", "color:red");
				$("#info").text('<TMPL_VAR T2S.VALIDATE_T2S_LANG>');
				$('html, body').animate({
			        scrollTop: $("#info").offset().top
			    }, 2000);
			    $("#t2slang").focus();
				e.preventDefault();
			}
		}
		else if (document.main_form.tts_google_cloud.checked == true ) {
			if (selectlang == null)  {  
				$(".infotext").fadeIn(800);
				$("#info").attr("style", "color:red");
				$("#info").text('<TMPL_VAR T2S.VALIDATE_T2S_LANG>');
				$('html, body').animate({
			        scrollTop: $("#info").offset().top
			    }, 2000);
			    $("#t2slang").focus();
				e.preventDefault();
			}
			if (selectvoice == null) {
				$(".infotext").fadeIn(800);
				$("#info").attr("style", "color:red");
				$("#info").text('<TMPL_VAR T2S.VALIDATE_VOICE>');
                $('html, body').animate({
                    scrollTop: $("#info").offset().top
                }, 2000);
                $("#voice").focus();
                e.preventDefault();
             }
		}
		else if (document.main_form.tts_azure.checked == true ) {
			if (selectlang == null)  {  
				$(".infotext").fadeIn(800);
				$("#info").attr("style", "color:red");
				$("#info").text('<TMPL_VAR T2S.VALIDATE_T2S_LANG>');
				$('html, body').animate({
			        scrollTop: $("#info").offset().top
			    }, 2000);
			    $("#t2slang").focus();
				e.preventDefault();
			}
		}
		else 
		{
			return true;
		}
		// $("#langiso").textinput("refresh");
		
		
		
		// validate jingle file selection
		var selectjingle 	= document.getElementById("file_gong").value;
		var selectt2s 		= $("input[name=t2s_engine]:checked").val();
		if ((selectjingle == '') && (selectt2s != ''))  {
			$(".infotext").fadeIn(800);
			$("#info").attr("style", "color:red");
			$("#info").text('<TMPL_VAR T2S.VALIDATE_JINGLE>');
			$('html, body').animate({
		        scrollTop: $("#info").offset().top
		    }, 2000);
		    $("#file_gong").focus();
			e.preventDefault();
		}
		
	});



//************************ Start Various functions ********************************

		
	//********* Prepare Polly voice list dependend on language list ************
	filterlang = function() { 
	if (document.main_form.tts_polly.checked == true ) {
  		
		var select = document.getElementById("t2slang");
		var selectedlanguage = select.options[select.selectedIndex].value;
	    $('#voice').empty();
	    var url = "/plugins/<TMPL_VAR PLUGINDIR>/voice_engines/langfiles/polly_voices.json";
	    $.getJSON(url, function(listvoice)  {
			//$('#voice').append('<option selected="true" value="" disabled><TMPL_VAR T2S.SELECT_VOICE_DROPDOWN></option>');
		    var selectedvoiceList = listvoice.filter(function(item){
		    	return item.language === selectedlanguage;
		  	});
		    $.each(selectedvoiceList, function(index, value) {
			    if (value.name == '<TMPL_VAR VOICE>') {
	               	$('#voice').append('<option selected="selected" value="'+value.name+'">'+value.name+'</option>');
	            } else {
	            	$('#voice').append('<option value="'+value.name+'">'+value.name+'</option>');
	            }
	            $('#voice').selectmenu('refresh', true);
		    });
		});
	    return selectedlanguage;
	    $('#voice').selectmenu('refresh', true);  
   	}
	else if (document.main_form.tts_google_cloud.checked == true ) {
		console.log("filterLang Google");
		//$('#voice').empty();
		populateVoice();
	}
	
	else {
		$('#voice').empty();    	
	}
	// generate language ISO Code
	var isocode = '<TMPL_VAR CODE>'.substr(0, 2);
	$('#langiso').val(isocode);
	// $("#langiso").textinput("refresh");
}

 
}); 



// prepare the voice list dependend on language list
        function populateVoice() {
            console.log("populating voice");
            if (document.main_form.tts_polly.checked == true) {
                var selectedlanguage = $("#t2slang option:selected").val();
                console.log("popvoice" + selectedlanguage);
                if (selectedlanguage) {
                    $('#voice').empty();
                    $('#voice').removeClass('ui-disabled');
                    const url = "/plugins/<TMPL_VAR PLUGINDIR>/voice_engines/langfiles/polly_voices.json";
                    $.getJSON(url, function(listvoice) {
                        //$('#voice').append('<option selected="true" value="" disabled><TMPL_VAR T2S.SELECT_VOICE_DROPDOWN></option>');
                        var selectedvoiceList = listvoice.filter(function(item) {
                            return item.language === selectedlanguage;
                        });
                        $.each(selectedvoiceList, function(index, value) {
                            if (value.name == '<TMPL_VAR VOICE>') {
                                $('#voice').append('<option selected="selected" value="' + value.name + '">' + value.name + '</option>');
                            } else {
                                $('#voice').append('<option value="' + value.name + '">' + value.name + '</option>');
                            }
                            $('#voice').selectmenu('refresh', true);
                        });
                    });
                }
            } else if (document.main_form.tts_google_cloud.checked == true) {
                const currentLanguage = $("#t2slang").val();
                var tempVal = "";
                if ($("#voice option:selected") && $("#voice option:selected").attr('data-lang') == currentLanguage) {
                    tempVal = $("#voice").val();
                }
                const savedVoice = '<TMPL_VAR VOICE>';
                $("#voice > option").each(function(index, element) {
                    if (element.getAttribute('data-lang') == currentLanguage || !currentLanguage) {
                        $("#voice option[value=" + element.value + "]").show();
                        if (tempVal == "" && element.value == savedVoice) {
                            tempVal = element.value;
                        }
                    } else {
                        $("#voice option[value=" + element.value + "]").hide();
                    }
                });
                if (tempVal) {
                    $('#voice').val(tempVal);
                } else {
                    $('#voice').prop('selectedIndex', 0);
                }
            } else {
                $('#voice').empty();
            }
            $('#voice').selectmenu('refresh', true);

            // generate language ISO Code
            var isocode = '<TMPL_VAR CODE>'.substr(0, 2);
            $('#langiso').val(isocode);
            //$("#langiso").textinput("refresh");
        }

        // Sets correct language if voice gets selected before language
        function setCorrectLang() {
            if (document.main_form.tts_google_cloud.checked == true) {
				console.log("setCorrectLang");
                var selectedlanguage = $("#t2slang").val();
                //if ($("#voice").find("option:selected").attr('data-lang') != selectedlanguage) {
                //    $('#t2slang option[value="' + $("#voice").find("option:selected").attr('data-lang') + '"]').attr("selected", "selected");
                //    $('#t2slang').selectmenu('refresh', true);
                //}
            }
        }

        function populateGoogleCloudVoices() {
            if ($('#apikey').val()) {
                const url = "https://texttospeech.googleapis.com/v1/voices?key=" + $('#apikey').val();
                var getCountryNames = new Intl.DisplayNames([navigator.language || navigator.userLanguage], {
                    type: 'region'
                });
				$('#voice').addClass('ui-disabled');
				$('#t2slang').removeClass('ui-disabled');
				$('#linkvoicerss').removeClass('ui-disabled');
				$('#linkpolly').addClass('ui-disabled');
				$('.field-voice').fadeIn(600);
				$('.colapi').fadeIn(600);
				$('.colsec').fadeOut(600);
				$('.collang').fadeIn(600);
				$('.colmp3').fadeIn(600);
				$('.keylinks').fadeOut(600);
				$('.googleinfo').fadeIn(600);
				$('.azureinfo').fadeOut(600);
				$(".infotext").fadeOut(800);
                $('#t2slang').empty();
                $('#voice').empty();
				$('#info').empty();
                fetch(url).then(function(response) {
                    if (response.status != 200) {
						if (($('#apikey').val().length == 39))  {
							console.log('Error Code: ' + response.status);
							$(".infotext").fadeIn(800);
							$("#info").attr("style", "color:red");
							$("#info").text('<TMPL_VAR T2S.VOICE_ERROR1>: ' + response.status + '. <TMPL_VAR T2S.VOICE_ERROR2>: ' + $('#apikey').val() + ' <TMPL_VAR T2S.VOICE_ERROR3>');
							$('#t2slang').empty();
							$('#voice').empty();
							$('#t2slang').selectmenu('refresh', true);
							$('#voice').selectmenu('refresh', true);
							return;
						} else {
							console.log('invalid API-key');
							$(".infotext").fadeIn(800);
							$("#info").attr("style", "color:red");
							$("#info").text('<TMPL_VAR T2S.PROBLEMS_WITH_API_KEY>');
							$('#t2slang').empty();
							$('#voice').empty();
							$('#t2slang').selectmenu('refresh', true);
							$('#voice').selectmenu('refresh', true);
							return;
						}
                    }
                    return response.json();
                }).then(function(data) {
                    if (!data) {
                        return;
                    }
                    const langs = new Map();
                    const voices = new Map();
                    const savedLanguageCode = '<TMPL_VAR CODE>';
                    data.voices.forEach(element => {
                        if (element.languageCodes.length > 0 && element.languageCodes[0].length == 5) {
                            lanIsoCode = element.languageCodes[0];
                            countryIsoCode = lanIsoCode.substring(3);
                            countryname = getCountryNames.of(countryIsoCode);
                            langs.set(lanIsoCode, countryname);
                            voices.set(element.name, lanIsoCode);
                        }
                    });
                    langs.forEach(function(langname, langcode) {
                        $('#t2slang').append('<option value="' + langcode + '">' + langname + '</option>');
                    });
                    if (savedLanguageCode) {
                        console.log("Selecting Langugage Code");
                        $('#t2slang').val(savedLanguageCode);
                    } else {
                        $('#t2slang').prop('selectedIndex', 0);
                    }
                    voices.forEach(function(locale, voicename) {
                        $('#voice').append('<option value="' + voicename + '" data-lang="' + locale + '">' + voicename + '</option>');
                    });
                    populateVoice();
                    $('#voice').removeClass('ui-disabled');
                    $('#t2slang').removeClass('ui-disabled');
                    $('#t2slang').selectmenu('refresh', true);
                    $('#voice').selectmenu('refresh', true);
                });
            } else {
                alert('<TMPL_VAR T2S.NO_API_PROVIDED>');
            }
        }


		function populateLanguageBasedOnJSON(url) {
            console.log("populateLanguageBasedOnJSON");
            $.getJSON(url, function(listlang) {
                $.each(listlang, function(index, value) {
                    $('#t2slang').append('<option value="' + value.value + '">' + value.country + '</option>');
                });
                if ('<TMPL_VAR CODE>') {
                    console.log("Selecting CODE: " + '<TMPL_VAR CODE>');
                    $('#t2slang').val('<TMPL_VAR CODE>');
                }
                $('#t2slang').selectmenu('refresh', true);
                populateVoice();
            });

        }
		
		
		function checkProvider() {
			if (document.main_form.tts_google_cloud.checked == true) {
				populateGoogleCloudVoices();
			}
			if (document.main_form.tts_azure.checked == true) {
				populateAzureVoices();
			}
		}
		
		//************************ Prepare MS Azure ********************************
	  
		// status fields and start button in UI
 		//var	subscriptionKey = document.getElementById("subscriptionKey");
		var	regionOptions = document.getElementById("regionOptions");
		
		function populateAzureVoices()   {
			console.log("populateAzureVoices");
			$('#voice').addClass('ui-disabled');
				$('#t2slang').removeClass('ui-disabled');
				$('#linkvoicerss').removeClass('ui-disabled');
				$('#linkpolly').addClass('ui-disabled');
				$('.field-voice').fadeOut(600);
				$('.colapi').fadeIn(600);
				$('.colsec').fadeOut(600);
				$('.collang').fadeIn(600);
				$('.colmp3').fadeIn(600);
				$('.keylinks').fadeOut(600);
				$('.googleinfo').fadeOut(600);
				$('.azureinfo').fadeIn(600);
				$(".infotext").fadeOut(800);
			if ($('#apikey').val()) {
				$('#t2slang').empty();
				$('#voice').empty();
				$("#info").empty();
				var request = new XMLHttpRequest();
				request.open('GET',
						'https://' + regionOptions.value + ".tts.speech." +
						(regionOptions.value.startsWith("china") ? "azure.cn" : "microsoft.com") +
								"/cognitiveservices/voices/list", true);
				request.setRequestHeader("Ocp-Apim-Subscription-Key", $('#apikey').val());
				}

			  request.onload = function() {
			  if (request.status >= 200 && request.status < 400) {
				const response = this.response;
				var str = "<TMPL_VAR TTS.messageLang>";
				var defvoice = str.substring(6);
				const defaultVoice = defvoice;
				const defaultV = "KatjaNeural";
				let selectId;
				const data = JSON.parse(response);
				console.log(data);
				data.forEach((voice, index) => {
					$('#t2slang').append("<option value=\"" + voice.ShortName + "\">" + voice.LocaleName + " - " + voice.DisplayName + "</option>");
					if (voice.Name.indexOf(defaultV) > 0) {
						selectId = index;
					}
				});
				if (! selectId)  {
					$('#t2slang').prop('selectedIndex', 0);
					$('#t2slang').selectmenu('refresh', true);
				} else {
					$('#t2slang').prop('selectedIndex', selectId);
					$('#t2slang').selectmenu('refresh', true);
				}
				//errorvoice = 'true';
			} else {
				if (($('#apikey').val().length == 32))  {
					console.log('Error Code: ' + this.status);
					$(".infotext").fadeIn(800);
					$("#info").attr("style", "color:red");
					$("#info").text('<TMPL_VAR T2S.VOICE_ERROR1>: ' + this.status + '. <TMPL_VAR T2S.VOICE_ERROR2>: ' + $('#apikey').val() + ' <TMPL_VAR T2S.VOICE_ERROR3>');
					$('#t2slang').empty();
					$('#voice').empty();
					$('#t2slang').selectmenu('refresh', true);
                    $('#voice').selectmenu('refresh', true);
					return;
				} else {
					console.log('invalid API-key');
					$(".infotext").fadeIn(800);
					$("#info").attr("style", "color:red");
					$("#info").text('<TMPL_VAR T2S.PROBLEMS_WITH_API_KEY>');
					$('#t2slang').empty();
					$('#voice').empty();
					$('#t2slang').selectmenu('refresh', true);
                    $('#voice').selectmenu('refresh', true);
					return;
				}
			}
			};
			request.send()
		};

//************************ finished MS Azure ********************************	
		
		function populateLanguageAndVoiceFields() {
            console.log("populateLanguageAndVoiceFields");
            // load JSON files into dropdwon field language
            const selectedEngine = $('#engine-selector input:checked');
            $('#t2slang').empty();
            $('#voice').empty();
            var url = "/plugins/<TMPL_VAR PLUGINDIR>/voice_engines/langfiles/";
            switch (selectedEngine.val()) {
                case '1001':
                    url = url + "voicerss.json";
                    break;
                case '3001':
                    url = url + "osx.json";
                    break;
                case '4001':
                    url = url + "polly.json";
                    break;
                case '5001':
                    url = url + "pico.json";
                    break;
                case '6001':
                    url = url + "respvoice.json";
                    break;
                case '7001':
					populateGoogleCloudVoices();
                    //url = url + "google.json";
					break;
				case '9001':
					populateAzureVoices();
                    break;
                default:
                    $('#t2slang').append('<option selected="true" value="" disabled><TMPL_VAR T2S.SELECT_LANGUAGE_DROPDOWN></option>');
                    $('#t2slang').prop('selectedIndex', 0);
                    $('#voice').append('<option selected="true" value="" disabled><TMPL_VAR T2S.SELECT_VOICE_DROPDOWN></option>');
                    break;
            }
            if (url.endsWith("json")) {
                populateLanguageBasedOnJSON(url);
            }

            $('select').selectmenu();
            $('select').selectmenu('refresh', true);
            // pass ISO code of selected language to field for info
            var isocode = '<TMPL_VAR CODE>'.substr(0, 2);
            $('#langiso').val(isocode);
            //$("#langiso").textinput("refresh");
        }



//************************ End Various functions ********************************



</script>

<!-- form 'FORM' END -->
</TMPL_IF>

<TMPL_IF WIZARD>
<p>Test TTS</p>
<textarea id="testbox"></textarea>
<div>
	<div style="float: left; width: 50%; padding:5px;">
	<button id="testbox_submit">Sprich!</button>
	</div>
	<div style="float: right; padding:5px;">
	<label><input type="checkbox" id="testbox_nocache" data-mini="true">Disable caching</label>
	</div>

</div>
<div style="clear: left;" id="testbox_response"></div>

<script>

$("#testbox_submit").click(function(){
	$("#testbox_response").html("Hör mal...");
	var text = $("#testbox").val();
	var nocache = $("#testbox_nocache").is(":checked") == true ? 1 : 0;
	console.log("TTS-Text", text, "Nocache", nocache);
	$.get("/plugins/<TMPL_VAR LBPPLUGINDIR>/index.php",
		{ nocache: nocache,
		  text: text
		})
	.done(function(data){
	console.log(data);
		if(data.success == 1) 
			$("#testbox_response").html("Fertig - ich habe \"" + data.text + "\" abgespielt");
		else if (data.errortext) 
			$("#testbox_response").html("Fehler: "+data.errortext);
		else 
			$("#testbox_response").html("Fehler: Unbekannter Fehler");
		
	})
	.fail(function(dataobj, textStatus){
		$("#buttonresponse").html("Fehler: " + textStatus);
	
	});
});


</script>




</TMPL_IF>


<TMPL_IF LOGFILES>
<!-- form 'LOGFILES' START -->
	<TMPL_VAR LOGLIST_HTML>
<!-- form 'LOGFILES' END -->
</TMPL_IF LOGFILES>




